


#select-options{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

button{
    align-self: center;
    width: 400px;
    font-size: 2rem;
    border-radius: 15px;
    margin: 20px 20px;
}

.languages-grid{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    column-gap: 3px;
    row-gap: 5px;
}

.language-select{
    height: 50px;
    width: 100px;
    border: hsla(37, 8%, 34%, 1) solid 2px;
    border-radius: 5px;
}

.language-select:hover{
    background-color: hsla(180, 47%, 56%, .2);
    transition: background-color .3s ease-out;
    cursor: pointer;
}
.language-selects p{
    display: inline;
}

.proceed-btn{
    width: 100px;
    height: 50px;
    font-size: 1rem;
}
